<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="{{ site.encoding }}">
        <title>Draft access blocked</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
    </head>
    <body>
        {% include header.html %}
        <main id="site-content">
            <h2 align="center">Access Denied</h2>
            <p align="center">Sorry, but public access to draft posts is restricted. If you believe that this is an error, please contact the webmaster.</p>
        </main>
        {% include footer.html %}
    </body>
</html>